python-dotenv
pydantic
pydantic-settings
pyyaml
tqdm
orjson
pypdf
beautifulsoup4
lxml
html2text
unstructured
nltk
sentence-transformers
chromadb
elasticsearch
ibm-watsonx-ai
fastapi
uvicorn[standard]
streamlit
rank-bm25
